:host {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    background-image: url('/assets/imgs/main-bg.png');
    height: 100vh;
    &:before {
        content: '';
        position: absolute;
        background-color: var(--primary-color);
        opacity: 0.8;
        height: 100%;
        width: 100%;
        z-index: 2;
    }
}
.container {
    display: grid;
    gap: 18px;
    align-content: center;
    text-align: center;
    z-index: 3;
    grid-column: 2
}