
:host {
    position: absolute;
    z-index: 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80px;
    width: 100%;
    align-items: center;
    justify-items: center;
    
}
#burgerMenu {
  display: none;
}
#burgerCheck {
  display: none;
}
a {
    color: var(--white-color); 
    text-decoration: none; 
    position: relative; 
    display: inline-block; 
  
    &::after {
      content: '';
      position: absolute; 
      left: 50%; 
      bottom: -2px; 
      width: 0; 
      height: 1px;
      background-color: var(--white-color); 
      transition: width 1s ease, transform 1s ease;
      transform: translateX(-50%);
    }
  
    &:hover::after {
      width: 100%;
    }
  }
nav{
    display: flex;
    gap: 24px
}
@media (max-width: 768px) {
  nav {
    display: none;
  }
  #burgerMenu {
    display: block;
    padding: 25px;
  }
  :host {
    display: flex;
    justify-content: space-between;
    padding: 0 9px;
  }
}