:host {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1261px;
    margin: 0 auto;
    align-items: center;
    @media (max-width: 375px) {
        grid-template-columns: 1fr;
    }
    @media (max-width: 768px) {
        margin: 0 20px
    }
}
div {
    display: grid;
    gap: 18px;
    @media (max-width: 768px) {
        gap: 15px
    }
    @media (max-width: 375px) {
        gap: 27px;
    }
}
p {
    color: var(--dark-gray-color)
}
h3 {
    @media (max-width: 768px) {
        font-size: 20px;
        line-height: 24px;
    }
}
img {
    background: center / contain no-repeat url('/assets/imgs/truck.png');
}