:host {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    @media (max-width: 375px) {
        height: fit-content;
    }
}

input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    
}

input + label {
    display: inline-flex;
    align-items: center;
}

input + label::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 2px solid var(--mid-gray-color);
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 16px
}
input:checked + label::before {
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    background-image: url("/assets/imgs/check.svg");
  }